<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tbody>
            <tr>
                <td>{{ form.username.label }}</td>
                <td>{{ form.username(class="username") }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password() }}</td>
            </tr>
            <tr>
                <td>{{ form.password_repeat.label }}</td>
                <td>{{ form.password_repeat() }}</td>
            </tr>
            <tr>
                <td>{{ form.submit.label }}</td>
                <td>{{ form.submit() }}</td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>